$mobile: 'only screen and (max-width: 768px)';
$desktop: 'only screen and (min-width: 768px)';

/* ===  Colors === */

$primary-light: #ff9647;
$primary-color: #f37a20;
$primary: #f37a20;
$primary-dark: #d96c1b;
$orange-five: #e66d13;
$orange-ten: #da6107;

$secondary-light: #3382dd;
$secondary: #004e89;
$secondary-dark: #162a3f;

$white: #fff;
$off-white: #fbfbfc;
$grey-lighter: #f2f2f2;
$grey-light: #eeeeee;
$grey: #cccccc;
$color-pink-swan: #b2b2b2;
$dark-gray: #aaa;
$light-grey: #9b9b9b;
$grey-dark: #787878;
$color-tuna: #495057;
$grey-darker: #3d3c42;
$color-eclipse: #363636;
$black: #323232;
$off-black: #2d2c31;
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

$red: #f13b44;
$green: #57c059;
$blue: #4a90e2;

$default-border-radius: 8px;
