.p-dialog {
  &-mask {
    z-index: 1009;
  }

  .p-dialog-header {
    font-weight: 300;
    font-size: 24px;
    border: none;
    background-color: #fff;
    padding: 30px 30px 10px;
    line-height: 1.3em;

    .p-dialog-title {
      font-weight: 300;
      font-size: 24px;
    }

    &:after {
      content: '';
      display: block;
      height: 1px;
      width: calc(100% - 60px);
      left: 30px;
      top: 71px;
      position: absolute;
      background-color: #ccc;
    }
  }

  .p-dialog-content {
    border: none;
  }

  .p-dialog-footer {
    border-radius: 0 0 $borderRadius $borderRadius;
    display: flex;
    justify-content: flex-end;
    border: none;
    padding: 15px 23px 25px;

    .p-button-icon-left {
      display: none;
    }

    .p-button-text-icon-left {
      .p-button-text {
        padding: 0.5em 2.5em;
      }
    }

    button {
      &:not(:first-child) {
        @extend .p-button-secondary;
      }
    }
  }

  &.p-confirm-dialog {
    background-color: #fff;
    width: 40em;
    max-width: 100%;

    .p-confirm-dialog-message {
      line-height: 1.3em;
      font-size: 16px;
    }

    .p-dialog-content {
      display: flex;
      padding: 1em 2em;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .p-confirmdialog-icon {
        top: -5px;
        margin: 0;
        font-size: 80px;
      }
    }

    .p-dialog-footer {
      button.p-button {
        min-width: 115px;
        &.p-confirm-dialog-accept {
          background-color: $primary;
          border-color: $primary;
          color: $white;

          &:hover {
            background-color: $primary-dark;
            border-color: $primary-dark;
            border-color: $primary-dark;
          }

          &:focus {
            box-shadow: none;
          }
        }

        &.p-confirm-dialog-reject {
          background-color: transparent;
          color: $color-eclipse;
          border-color: $color-eclipse;

          &:hover {
            background-color: transparent;
            color: $primary-dark;
            border-color: $primary-dark;
          }
        }
      }
    }
  }
}
